body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/img1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis trabajos */

#Mis-trabajos img {
  height: 15rem;
  border-radius: 4px;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
